*{margin:0;padding:0;box-sizing:border-box;font-family:Segoe UI}
body{
background:#05060a;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
canvas{
width:360px;
height:640px;
background:linear-gradient(#081a2d,#02030a);
border-radius:22px;
box-shadow:0 0 60px #00eaff55;
}

#ui-top{
position:absolute;
top:15px;
display:flex;
gap:10px;
}

button{
background:linear-gradient(135deg,#00f7ff,#0066ff);
border:none;
padding:10px 16px;
border-radius:14px;
font-weight:700;
}

#controls{
position:absolute;
bottom:20px;
width:100%;
display:flex;
justify-content:space-between;
padding:0 20px;
}

#joystick{
width:110px;
height:110px;
border-radius:50%;
background:#00eaff22;
position:relative;
}

#stick{
width:50px;
height:50px;
border-radius:50%;
background:#00eaff;
position:absolute;
top:30px;
left:30px;
}

#jumpBtn{
width:80px;
height:80px;
border-radius:50%;
background:#00ff8866;
}
